name: Run Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: '3.5.3' # The R version to download (if necessary) and use.
    - name: setup libcurl
      run: sudo apt-get install libcurl4-openssl-dev
    - name: setup gdal config
      run: sudo apt-get install gdal-bin libgdal-dev
    - name: Install Packages
      run: Rscript -e 'install.packages(c("dplyr", "readr", "remotes", "mapboxapi", "purrr"), Ncpus = 2, repos = "https://demo.rstudiopm.com/cran/__linux__/centos7/latest", dependencies = TRUE)'
    #- name: Install remotes packages
    #  run: Rscript -e 'remotes::install_github("walkerke/mapboxapi", dependencies = TRUE)'
    - name: Get current directory
      run: pwd
    - name: Run workflow as shell script
      run: bash 'data_prep_scripts/run.sh'